<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign In (Only Admin)</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% userdata.forEach(el => { %>
          <form action="/login" method="get">
            <div class="mb-3">
              <label for="username" class="col-form-label">User Name:</label>
              <input type="text" class="form-control" id="username" value="<%=el.username%>">
            </div>
            <div class="mb-3">
              <label for="password" class="col-form-label">Message:</label>
              <input type="password" class="form-control" id="password" value="<%=el.password%>">
            </div>

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Sign In</button> 
          </form> <% }) %>
        </div>
      </div>
    </div>
  </div>